head{
background-color:black;

}
body{
background-color:red;
}
h1{
text-align:center;
color:green;
font-family: 'Ravi Prakash', cursive;
font-size:50px;
}
table{

text-align:center;
}
#f{
hight:200px;
width:600px;
float:right;

}

h2{
font-size:100px;
color:red;
text-align:center
}
.b{
background-color:black;
}
#weo{
padding-left:40%;
}
.c{
background-color:orange;
}
#s{
color:black;
}
#me{
color:green;
}
h3{
font-size:100px;
color:blue;
text-align:center